<h2>France</h2>
<h3>Ligue 1</h3><br>
<div class="container">
  <div class="row" ng-repeat="titre in titres"><br>
    <div class="col-md-6 name">
    <p>{{ titre.equipe }}</p>
    </div>
    <!-- <div class="col-md-3">
    <p>{{ nombre }}ici le nombre de succés</p>
    </div> -->
    <div class="col-md-6">
    <p>{{ titre.dates }}</p>
    </div>
  </div>

  <form>
  <div class="">
    <label>Nom de l'équipe</label>
    <input type="text" ng-model="equipe">
  </div>
  <div class="">
    <label>Dates des victoires</label>
    <input type="text" ng-model="dates">
  </div>
    <button type="button" name="button" ng-click="addtitreL1()">Ajouter des titres</button>
  </form>
</div>

<h3>Ligue 2 En Cours</h3><br>
<div class="container">
  <div class="row" ng-repeat="ligue2 in ligues2"><br>
    <div class="col-md-6 name">
    <p>{{ ligue2.equipe }}</p>
    </div>
    <!-- <div class="col-md-3">
    <p>{{ nombre }}ici le nombre de succés</p>
    </div> -->
    <div class="col-md-6">
    <p>{{ ligue2.dates }}</p>
    </div>
  </div>

  <form>
  <div >
    <label>Nom de l'équipe</label>
    <input type="text" ng-model="ligue2Equipe">
  </div>
  <div>
    <label>Dates des victoires</label>
    <input type="text" ng-model="ligue2Dates">
  </div>
    <button type="button" name="button" ng-click="addtitreL2()">Ajouter des titres</button>
  </form>
</div>
<!-- <h2>Angleterre</h2>
<h3>Premier League</h3><br>
<h2>Espagne</h2>
<h3>Liga</h3><br>
<h2>Allemagne</h2>
<h3>bundesliga</h3> -->
